.personal-info {
  margin-top: 1.8rem;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 1.6rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'Work Sans';

  & > .header-information {
    h5 {
      font-weight: 600;
      font-size: 16px;
      color: #213f7d;
      margin: 0;
    }

    & > .grid-5 {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 1.4rem;
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      padding-bottom: 1.5rem;
      gap: 1rem;

      @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & > .grid-4 {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 1.4rem;
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      padding-bottom: 1.5rem;
      gap: 1rem;
      @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// Personal Details
.personal-details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & > p {
    margin: 0;
  }

  & > p:first-child {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #545f7d;
  }

  & > p:last-child {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    word-break: break-all;
    color: #545f7d;
  }
}

.email {
  text-transform: lowercase !important;
}

.no-border {
  border-bottom: none !important;
}
