.dashboard {
  font-family: 'Work Sans';
  margin-top: 2.5rem;
  margin: auto;
  width: 90%;

  & > h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #213f7d;
  }

  & > .user-stats-flex {
    margin-top: 2.2rem;
    display: flex;
    gap: 1.7rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  & > .users-table {
    margin-top: 2rem;
    width: 100%;
    overflow-x: scroll;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    background: #ffffff;
    border-radius: 4px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
