.header {
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
}

main {
  display: flex;

  & > .sidebar {
    width: 20%;
    margin-bottom: 4rem;
    overflow: hidden;
  }

  & > .children {
    width: 80%;
    padding: 1rem 6rem;
    background: rgba(229, 229, 229, 0.3);
  }
}
