.header {
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  position: sticky;
  z-index: 999;
  top: 0;
}

main {
  display: flex;

  & > .sidebar {
    width: 19%;
    margin-bottom: 4rem;
    overflow: hidden;
    z-index: 99999;
  }

  & > .children {
    width: 81%;
    padding: 2rem 0rem;
    background: rgba(229, 229, 229, 0.2);
  }
}
